:root {
  --main-title-color: #ffffff;
  --main-second-color: #2e2f42;
  --main-btn-color: #4d5ae5;
  --second-btn-color: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*======================Header===================*/

.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-link {
  margin-right: 76px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #2e2f42;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.contact-item {
  font-style: normal;
  margin-left: auto;
}

/*======================Hero=====================*/

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-top-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin: 0 auto;
  white-space: pre-line;
  margin-bottom: 48px;
  max-width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
}

.modal-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-title-color);
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background: #404bbf;
}

.about {
  padding-top: 120px;
}

.hero-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.info-list {
  width: calc((100% - 72px) / 4);
  max-width: 264px;
}

.hero-second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-description {
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.about-work {
  padding-bottom: 120px;
}

.hero-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.about-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.about-item {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

/*======================footer=====================*/
.footer {
  background-color: #2e2f42;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  display: flex;
  max-width: 264px;
  margin-top: 16px;
}

/*==================portfolio===============*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-button {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.portfolio-modal-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  padding: 12px 24px;
}

.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.row-cards-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.row-cards {
  width: calc(100% - 48 / 3);
}

.cards-container {
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.hero-media-img-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-img-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
